<form {{on 'submit' this.onSubmit}}>
  {{yield
    (hash
      skipTriggerResetPasswordEmail=(fn
        @skipTriggerResetPasswordEmail this.currentUsername
      )
      UsernameInput=(component
        'cognito-text-input'
        value=this.currentUsername
        onChange=this.updateUsername
      )
      ErrorDisplay=(if @error (component 'cognito-error' error=@error))
    )
  }}
</form>