<form {{on 'submit' this.onSubmit}}>
  {{yield
    (hash
      username=@username
      resendVerificationCode=@resendVerificationCode
      VerificationCodeInput=(component
        'cognito-text-input'
        value=this.currentVerificationCode
        onChange=this.updateVerificationCode
      )
      PasswordInput=(component
        'cognito-password-input'
        value=this.password
        onChange=this.updatePassword
      )
      ErrorDisplay=(if @error (component 'cognito-error' error=@error))
    )
  }}
</form>