<form {{action "submitForm" on="submit" preventDefault=true}}>

  {{yield
    (hash
      mustEnterNewPassword=this.mustEnterNewPassword
      error=(readonly this.error)
      username=(readonly this.username)
      password=(readonly this.password)
      newPassword=(readonly this.newPassword)

      updateUsername=(action "updateUsername")
      updatePassword=(action "updatePassword")
      updateNewPassword=(action "updateNewPassword")

      UsernameInput=(component
        "cognito-text-input"
        value=this.username
        onChange=(action "updateUsername")
      )

      PasswordInput=(component
        "cognito-password-input"
        value=this.password
        onChange=(action "updatePassword")
      )

      NewPasswordInput=(component
        "cognito-password-input"
        value=this.newPassword
        onChange=(action "updateNewPassword")
      )

      ErrorDisplay=(if
        this.error
        (component
          "cognito-error"
          error=this.error
        )
      )

    )
  }}

</form>