<CognitoLoginForm
  as |loginForm|
>

  <div>
    <label for="login-username">
      Username (E-mail)
    </label>

    <div>
      <loginForm.UsernameInput
        id="login-username"
        type="email"
        required="true"
        disabled={{loginForm.mustEnterNewPassword}}
        class="custom-input-class"
        data-test-login-form-username
      />
    </div>
  </div>

  <div>
    <label for="login-password">
      Password
    </label>

    <div>
      <loginForm.PasswordInput
        @id="login-password"
        required="true"
        disabled={{loginForm.mustEnterNewPassword}}
        class="custom-input-class"
        data-test-login-form-password
      />
    </div>
  </div>

  {{#if loginForm.mustEnterNewPassword}}
    <p>
      You must set a new password in order to continue.
    </p>

    <div>
      <label for="login-new-password">
        New password
      </label>

      <loginForm.NewPasswordInput
        @id="login-new-password"
        required="true"
        class="custom-input-class"
        data-test-login-form-new-password
      />
    </div>
  {{/if}}

  <loginForm.ErrorDisplay />

  <button
    data-test-login-form-submit
    type="submit"
  >
    Submit
  </button>

  <LinkTo @route="reset-password">
    Forgot your password?
  </LinkTo>

</CognitoLoginForm>
